body { 
  margin:0; padding:0;
  color: #1A1A1A;
  font-family: helvetica, sans-serif;
}
h1 {
  font-weight: bold;
}
a, a:visited {
  color: #247000;
  text-decoration: none;
  font-weight: bold;
}
p {
  color: #1A1A1A;
}
#submit {
  z-index: 100;
  position: relative;
  background: white;
}
.leaflet-popup-content-wrapper {
  border: 2px solid #ccc;
}
#spinner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4);
}
#spinzone {
  width: 15px;
  margin: 268px auto 0 auto;
  opacity: 1;
}
#share {
  position: absolute;
  top: 17px;
  right: 100px;
}
@media (max-width: 1117px) {
  #share {
    display: none;
  }
}
textarea {
  width: 100%;
}
input[type=submit] {
  background: white;
  border: 1px solid #ccc;
  width: 200px;
  margin: .5em auto 0 auto;
  padding: .5em;
}
.leaflet-popup-close-button, .map-tooltip.closable .close {
  background-position: -5px -53px
}
.pure-form-stacked input[type=text] {
  margin-bottom: 1em;
}
#non-map {
  text-align: center;
  color: #247000;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height:  115px;
  padding: 0 10px 0 10px;
  border-bottom: 5px solid #247000;
}
#map { 
  position: absolute; 
  top: 120px; 
  bottom: 0;
  width: 100%;
}
#shameless {
  bottom: 0;
  z-index: 100;
  height: 30px;
  width: 54px;
  border-top: 5px solid #247000;
  position: absolute;
  background: white;
  font-size: 20px;
  line-height: 30px;
  padding-left: .5em;
}
.red {
  color: red;
}
@media (max-width: 600px) {
  h1 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  #non-map {
    position: absolute;
    height:  80px;
  }
  #map { 
    position: absolute; 
    top: 80px; 
  }
}